
    body {
        font-family: 'Trebuchet MS', sans-serif;
        background-color: #f4f4f4;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 95vh;
    }

    #fondo {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        object-fit: cover;
        z-index: -1;
        opacity: 0.5;
    }

    .form-container {
        background-color: #c5c5c5a7;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        width: 60%;
        height: auto; 
        margin: 20px auto; 
        box-sizing: border-box;
        box-shadow: 0px 0px 10px rgba(3, 3, 3, 0.535), 0px 0px 20px rgba(119, 119, 119, 0.511);
        zoom: 60%
    }

    h1 {
        text-align: center;
        margin-bottom: 20px;
        font-size: 28px;
        color: #333;
    }

    label {
        display: block;
        margin-bottom: 8px;
        font-weight: bold;
        color: #555;
    }

    input[type="text"],
    input[type="email"],
    input[type="tel"],
    select,
    textarea {
        width: 100%; 
        max-width: 100%; 
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
        box-sizing: border-box; 
    }

    select {
        appearance: none;
        background-color: #fff;
    }

    textarea {
        resize: vertical;
    }

    .campo-pareja {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    .campo-pareja div {
        width: 49%;
    }

    .campo-solo {
        margin-bottom: 20px;
    }

    .campo-pareja div {
        width: 49%;
    }

    .button-container {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
    }

    .btn {
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

        .btn.registrar {
            background-color: #28a745;
            color: #fff;
        }

            .btn.registrar:hover {
                background-color: #28a745;
            }

        .btn.cancelar {
            background-color: #dc3545;
            color: #fff;
        }

            .btn.cancelar:hover {
                background-color: #c82333;
            }


    @media (max-width: 800px) {
        .form-container {
            width: 95%;
            padding: 15px;
        }
        .campo-pareja {
            flex-direction: column;
        }

            .campo-pareja div {
                width: 100%;
                margin-bottom: 20px;
            }
    }