body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
    background-color: #fff;
}

#fondo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
    opacity: 0.5;
}

.contenedor-chat {
    position: absolute;
    top: 200px;
    left: 180px;
    color: #333;
}

.contenedor-chat h1 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
}

.contenedor-chat p {
    font-size: 20px;
    width: 400px;
    margin-bottom: 20px;
}

#boton-chatbot {
    padding: 15px 30px;
    font-size: 20px;
    background-color: #3cb840;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#boton-chatbot:hover {
    background-color: #36a836;
}

#panel-conversacion {
    display: none;
    position: absolute;
    top: 200px;
    right: 0;
    background-color: #d4d8d4;
    padding: 10px;
    border: 1px solid rgba(99, 114, 153, 0.322);
    border-radius: 10px;
    font-size: 18.2px;
    width: 45%;
    box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.2);
}

.cerrar {
    position: relative;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}

#cerrar-conversacion {
    background-color: #ccc;
    color: #333;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
}

#cerrar-conversacion:hover {
    background-color: #ff0000;
    color: #fff;
}

#conversacion {
    max-height: 280px;
    overflow-y: auto;
    padding: 10px;
    border: 2px solid #a6a2a25a;
    border-radius: 10px;
    box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.2);
}

.entrada {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 70%;
    margin-top: 10px;
}

.enviar {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #3cb840;
    color: #fff;
    cursor: pointer;
    margin-left: 10px;
}

.enviar:hover {
    background-color: #36a836;
}

.back {
    position: absolute;
    top: 20px;
    left: 20px;
}
